@use "variable" as *;

.l-header {
  display: flex;
  position: relative;
  height: 70px;
  max-width: calc(960px + 2rem);
  margin-right: auto;
  margin-left: auto;
  padding: 10px 1rem;

  &__inner {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    position: relative;
  }

  &__logo {
    display: flex;
    align-items: center;
    column-gap: 0.5em;
  }

  &__txt {
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.logo {
  width: 100px;
}

.nav {
  display: none;

  @include mq() {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
    margin-top: 1rem;
  }

  &__list {
    display: grid;
    text-align: center;
    font-size: 0.875rem;
    font-weight: bold;

    &:after {
      display: block;
      text-align: center;
      font-size: 0.75em;
    }

    &.service {
      &:after {
        content: "Service";
        color: #fa781e;
      }
    }

    &.product {
      &:after {
        content: "Product";
        color: #c80a1e;
      }
    }

    &.information {
      &:after {
        content: "Information";
        color: #289696;
      }
    }

    &.company {
      &:after {
        content: "company";
        color: #007cc3;
      }
    }

    &.contact {
      &:after {
        content: "contact";
        color: #8c50d2;
      }
    }
  }
}