@use 'global/variable';

.archiveWrap {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
}

.archive {
  &Title {}

  &Category {
    background-color: #289696;
    color: #fff;
    padding: 0.25rem 0.5rem;
    display: inline-block;
    font-size: 0.625rem;
  }

  &Date {
    font-size: 0.625rem;
    display: inline-block;
  }
}